*.dump
.xmake
build
vsxmake*
.vscode
CMake*
cmake*
.cache
.idea
prod
*.log
*.bundle
*.class
debug
vmstd/files.json
vs*
include/openminecraft/resource/bootassets.h
*.ttf
massif*
*.dat
*.bin
*.data
*.jar
vmstd
*.txt
dbg
perf*
bootassets/external
